/**
 * MagicLogin - Admin Styles
 */
@import url("@wpmudev/shared-ui/dist/css/shared-ui.css");

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Roboto"), local("Roboto Regular"), url("../fonts/roboto-400.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: local("Roboto Medium"), local("Roboto"), url("../fonts/roboto-500.woff2") format("woff2");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local("Roboto Bold"), local("Roboto"), url("../fonts/roboto-700.woff2") format("woff2");
}
